<div class="container-fluid" ng-controller="UsersCtrl" ng-cloak>
  <div class="row">
    <div class="col-sm-4">
      <md-content  layout-gt-sm="row" layout-padding>
        <dov> create new user </dov>
        <div>
          <md-input-container>
            <label>Username</label>
            <input ng-model="newUser.username">
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input ng-model="newUser.password">
          </md-input-container>
        </div>
        <md-button type="submit"  ng-click='create()'> Submit </md-button>
      </md-content>
    </div>
    <div class="col-sm-4">
      <div   layout="column">
        <div >
          <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
              <span>Normal</span>
            </div>
          </md-toolbar>
          <md-content>
            <md-list flex>
              <md-subheader class="md-no-sticky"></md-subheader>
              <md-list-item  ng-repeat="user in users" ng-click="null">
                <p> {{user.username}} </p>
                <div ng-show="user.editing">
                  <div >
                    <div >
                      <md-checkbox ng-model="user.privilegesF[0].active" aria-label="add">
                        add
                      </md-checkbox>
                    </div>
                    <div>
                      <md-checkbox ng-model="user.privilegesF[1].active" aria-label="delete">
                        delete
                      </md-checkbox>
                    </div>
                    <div>
                      <md-checkbox ng-model="user.privilegesF[2].active" aria-label="edit">
                        edit
                      </md-checkbox>
                    </div>
                  </div>
                </div>
                <md-button ng-click='onEditClick(user); user.editing = true' > EDIT</md-button>
                <md-button ng-click='onEditSave(user) ;user.editing = false' > SAVE</md-button>
              </md-list-item>
            </md-list>
          </md-content>
        </div>
        <md-divider></md-divider>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>



